---

---

<footer class="flex flex-wrap justify-center items-center p-20 text-gray-300 text-sm gap-10">    
    <a class="hover:text-blue-500" href="https://github.com/javsanmar5/stormy">© 2025 Stormy</a>
    <a class="hover:text-blue-500" href="https://github.com/javsanmar5/stormy/blob/main/LICENSE">MIT License</a>
    <a class="hover:text-blue-500" href="mailto:javier.jsm21@gmail.com">Contact</a>
    <a class="hover:text-blue-500" href="https://github.com/javsanmar5">Javier Santos</a>
    <a class="hover:text-blue-500" href="https://www.linkedin.com/in/javier-santos-martin-81a82030a/">Linkedin</a>
</footer>