---
const gitUrl = "https://github.com/javsanmar5/stormy";
---

<div class="w-full flex flex-col justify-center -mx-3">
    <a 
        class="mt-6 flex justify-center items-center rounded-lg border h-12 px-6 py-2 bg-white text-black hover:bg-gray-300 transition-colors duration-300"
        href={gitUrl} 
        target="_blank" 
        rel="noopener noreferrer">
        Visit our repository!
    </a>
    <div class="mt-4 flex justify-between items-center rounded-lg border h-12 px-6 py-2 bg-gradient-to-r from-[rgba(80,200,120,0.5)] to-[rgba(160,32,240,0.5)] hover:from-[rgba(80,200,120,0.65)] hover:to-[rgba(160,32,240,0.65)] w-full">
        <p class="text-sm font-semibold font-mono text-center">
            git clone {gitUrl}
        </p>
        <button 
            onclick={`navigator.clipboard.writeText("git clone ${gitUrl}")`} 
            class="active:scale-110 transition-all p-1 rounded-md hover:bg-[rgb(150,150,150,.6)] duration-300"
            aria-label="Copy Git clone URL">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5 14H19C20.1046 14 21 13.1046 21 12V5C21 3.89543 20.1046 3 19 3H12C10.8954 3 10 3.89543 10 5V6.5M5 10H12C13.1046 10 14 10.8954 14 12V19C14 20.1046 13.1046 21 12 21H5C3.89543 21 3 20.1046 3 19V12C3 10.8954 3.89543 10 5 10Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
    </div>
</div>
