---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex justify-around items-center my-40">
		<h1 class="text-balance mb-4 text-center text-3xl/[1.1] font-bold font-heading sm:max-w-[24ch] md:text-4xl/[1.1] xl:text-5xl/[1.1]">A simple CLI tool to manage all your passwords</h1>
	</div>
	
</Layout>
