---
import Feature from '../components/Feature.astro';
import Layout from '../layouts/Layout.astro';
import InstallationGuide from '../components/InstallationGuide.astro';
import MainButtons from '../components/MainButtons.astro'
---

<Layout >
	<div class="flex flex-col justify-around items-center px-8 sm:px-8">
    <section class="flex flex-col justify-around items-center mt-20 sm:mt-40">
        <h1 class="text-balance mb-4 text-center text-xl font-bold font-heading sm:max-w-[24ch] sm:text-3xl/[1.1] md:text-4xl/[1.1] xl:text-5xl/[1.1]">
            A simple CLI tool to manage all your passwords
        </h1>
        <MainButtons />
		</section>
		
		<section id="features" class="text-left mt-28 xl:w-[60vw] md:w-[70vw] w-[80vw]">
			<h2 class="text-balance text-2xl/[1.1] font-bold font-heading sm:max-w-[24ch] md:text-3xl/[1.1]">Features</h2>
			<div class="grid mt-6 md:grid-cols-2 gap-x-10 gap-y-6">
				<Feature title="Secure Master Password" description="Protect your stored passwords with a master password hashed using PBKDF2 and salted for added security."/>
				<Feature title="Encrypted Storage" description="All passwords are encrypted before storage using state-of-the-art cryptographic techniques."/>
				<Feature title="Local Database" description="Stormy uses the bbolt database for lightweight, local storage."/>
				<Feature title="Salt for Extra Security" description="Optionally add a salt to your master password for enhanced protection."/>
				<Feature title="Command-line Simplicity" description="Add, retrieve, and manage your passwords entirely from the terminal." />
			</div>
		</section>
		
		<section id="installation-guide" class="text-left mt-20 xl:w-[60vw] md:w-[70vw] w-[80vw]">
			<InstallationGuide />
		</section>
	</div>
</Layout>
